body{
    background-color: #F8EDE3;
    text-align: center;
    
}
h1,h2{
    text-align: center;
    color: red;
    font-size: larger;
    font-size: 2.5rem;
    
}
#welcome-el{
    font-size: 30px;
}
#save-el{
    font-size: 25px;
}

.btn-group button{
    background-color: greenyellow;
    border: 1px solid red;
    padding: 10px 10px;
    display: block;
    color: red;
    width: 200px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-left: 38rem;
    margin-bottom: 3rem;
}
button:hover{
   background-color: black;
}